body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif; /* Fuente Roboto para todo excepto el título */
    background-color: black;
    color: rgb(48, 48, 48);
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-image: url('/public/icons/menuu2.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 0; /* Elimina cualquier padding extra */
    margin: 0; /* Elimina márgenes */
    animation: slideUp 1.5s ease-in-out;

  }
  
  
  .menu-title {
    font-family: 'Rokkitt', serif; /* Fuente Rokkitt solo para el título */
    font-size: 14em;
    font-weight: normal;
    margin: 0;
    padding-top: 200px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center; /* Centra el texto dentro del título */
    animation: fadeIn 1.5s ease-in-out; /* Aplica la animación */

  }
  @keyframes fadeIn {
    from {
        opacity: 0; /* Comienza invisible */
        transform: translateY(-50px); /* Desplazado hacia arriba */
    }
    to {
        opacity: 1; /* Totalmente visible */
        transform: translateY(0); /* Posición original */
    }
}
  
  .menu-nav {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: -40px;
  }
  
  .menu-item {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: normal;
  }
  
  .search-input {
    border: none;
    padding: 5px;
    border-radius: 20px;
    padding-left: 15px;
    background-color: transparent; /* Fondo transparente */
    color: rgb(0, 0, 0); /* Color del texto */
    border: 1px solid rgb(0, 0, 0); /* Bordes blancos para visibilidad */
  }
  .search-input::placeholder {
    color: rgb(0, 0, 0); /* Color del texto del placeholder */
    opacity: 0.7; /* Transparencia del placeholder */
  }
  
  .search-button {
    border: none;
    background: none;
    color: black;
    font-size: 1.2em;
    margin-left: -30px;
    cursor: pointer;
  }
  
  .menu-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 20px;
  }
  
  .icon-item {
    text-align: center;
    font-size: 0.9em;
    font-weight: normal;
    animation: bounceIn 1.5s ease-in-out;

  }
  @keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
  
  .icon-item img {
    width: 50px;
    height: 50px;
    filter: brightness(0.3); 
  }
  
  .icon-item p {
    margin: 5px 0 0 0;
    font-weight: normal;
    color: rgb(59, 59, 59); /* Texto de los botones en negro */
    font-weight: bold; /* Si quieres darle más impacto */
  }

  
  .icon-item span {
    font-size: 0.8em;
    color: rgb(0, 0, 0);
    font-weight: normal;
  }
  



  
  @media screen and (max-width: 768px) {
   
    .menu-title {
      font-size: 3em; /* Reduce el tamaño del título */
      padding-top: 50px; /* Ajusta el padding superior */
  
    }
  
    .menu-icons {
      flex-direction: column; /* Cambia la disposición a columna */
      align-items: center;
      gap: 15px; /* Espaciado entre íconos */
  
    }
  
    .icon-item {
      margin-bottom: 20px; /* Agrega espacio entre los íconos */
    }
  
    .icon-item img {
      width: 60px; /* Tamaño más razonable */
      height: 60px;
    }
  
    .icon-item p {
      font-size: 0.9em; /* Ajusta el tamaño del texto */
    }
  
    .icon-item span {
      font-size: 0.8em; /* Ajusta el subtítulo */
    }
  }
  
  /* Ajustes adicionales para pantallas muy pequeñas (como teléfonos pequeños) */
  @media screen and (max-width: 480px) {
    .menu-title {
      font-size: 5em; /* Ajustamos el tamaño para teléfonos */
      padding-top: 100px; /* Bajamos un poco el título */
    }

  .menu-icons {
    gap: 10px; /* Espacio reducido entre íconos */
  }
  .menu-nav {
    gap: 15px; /* Reducimos el espacio entre opciones */
    margin-top: -50px; /* Subimos más las opciones */
  }
  .menu-item {
    font-size: 2em; /* Ajustamos el tamaño del texto de las opciones */
  }
  
    .icon-item img {
      width: 50px; /* Ajusta más el tamaño de los íconos */
      height: 50px;
    }
  
    .icon-item p {
      font-size: 0.8em; /* Reduce el tamaño del texto */
    }
  
    .icon-item span {
      font-size: 0.7em; /* Reduce el tamaño del subtítulo */
    }
  }
  
 