.register-container {
    display: flex;
    height: 100vh;
  }
  
  .register-image {
    flex: 1;
    background-image: url('/public/icons/f-register.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
  }
  
  .register-box {
    flex: 1;
    background: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 480px;
    margin: auto;
  }
  
  .register-box h2 {
    font-size: 1.4rem; /* Tamaño de fuente reducido */
    color: #333;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 0.25rem;
  }
  
  .register-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #1a73e8;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  
  .register-button:hover {
    background-color: #155ab8;
  }
  
  .login-link {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    text-align: center;
    color: #666;
  }
  
  .login-link a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  
  .social-login {
    margin-top: 2rem;
    text-align: center;
  }
  
  .social-login p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #666;
  }
  
  .social-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .social-button {
    flex: 1;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .google-button {
    background-color: white;
    color: #333;
  }
  
  .apple-button {
      background-color: white;  
      color: black;             
      border: 1px solid black;  
  }
  .social-button img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
  
  .social-button:hover {
    background-color: #f1f1f1;
  }
  
  .social-login hr {
    margin: 2rem 0;
    border: none;
    border-top: 1px solid #ccc;
  }
 
  .input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 0.25rem;
    background-color: white; /* Color de fondo por defecto */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.input-group input:hover,
.input-group input:focus,
.input-group input:active {
    background-color: #a0cae8; /* Cambia el fondo a un color azul claro */
    border-color: #1a73e8; /* Cambia el color del borde a azul */
}

.register-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: 
  #2E3B55;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1.5rem;
  font-weight: 600;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Transición suave para el color y el tamaño */
}

.register-button:hover {
  background-color: #155ab8; /* Cambia a un tono más oscuro al pasar el mouse */
  transform: scale(1.05); /* Aumenta el tamaño del botón ligeramente */
}

.register-button:active {
  transform: scale(0.95); /* Reduce el tamaño del botón al hacer clic para dar sensación de pulsación */
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: #f3f6f6;
  background-image: url('/public/icons/Volver.png'); /* Ruta de la imagen de ícono de retroceso */
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-block; /* Asegura que el enlace se comporte como un botón */
}

.back-button:hover {
  background-color: #f3f6f6;
  transform: scale(1.05);
}
